name = "SciMLStructures"
uuid = "53ae85a6-f571-4167-b2af-e1d143709226"
authors = ["SciML"]
version = "0.1.0"

[deps]

[compat]
julia = "1.6"

[extras]
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "SafeTestsets"]
